<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login</title>
    </head>
    <body>
        <form method="post" action="{{ form_action_url }}" name="main">
            {% csrf_token %}
            <fieldset id="field_login">
                <legend>Login</legend>
                <ul>
                {{ form.as_ul }}
                </ul>
                <br />
                <input type="submit" value="Login" name="save" id="save">
            </fieldset>
        </form>
    <body>
</html>
        
